.view {
    background-size: cover;
}

.navbar {
    background-color: transparent;
    box-shadow: none;
}

.top-nav-collapse {
    background-color: #4285F4;
}


i{
  color: red;
}

.card{
    margin: 30px;
}